@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

body {
    background-color: whitesmoke;
}

button {
    float: right;
    margin-top: 5px;
}

header, .temperature-panel {
    border-radius: 8px;
    border: 3px gray solid;
    background-color: white;
}

.container {
    width: 70%;
}

.cool {
    color: lightskyblue;
}

.warm {
    color: red;
}

.temp-display {
    /* height: -10px; */
    /* margin-top: 15px; */
    font-family: 'Pacifico', cursive;
    font-size: 108pt;
    font-weight: 900;
}