/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

/* header {
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
} */

/* h1 {
    font-size: 30pt;
} */

/* button {
    justify-self: flex-end;
} */

/* body {
    background-color: whitesmoke;
} */

/* body > section {
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} */

/* label {
    padding: 20px;
    font-size: 20pt;
} */

/* p {
    margin: 0px;
    font-family: 'Pacifico', cursive;
    font-size: 108pt;
    font-weight: 900;
} */

/* header, section {
    display: flex;
} */

/* header, .temperature-panel, #settings-panel {
    border-radius: 8px;
    border: 3px gray solid;
    background-color: white;
} */

/* h1, label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
} */

/* .temperature-panel > label { */

/* } */

.temperature-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* .bounds {
    width: 50%;
    height: 30px;
    font-size: 21pt;
} */

/* .cool {
    color: lightskyblue;
} */

/* .warm {
    color: red;
} */